<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestAll" parallel="tests" thread-count="2">

	<test name="Window1">
		<classes>
			<class name="LoginTest"></class>
		</classes>
	</test>

	<test name="Window2">
		<classes>
			<class name="SearchTest"></class>
		</classes>
	</test>

</suite>